
body, html {
    height: 100%;
}

body {
    background: url("../images/backgroundpsychic.png") center cover no-repeat;
}


.main-container .container {
    position: absolute;
    bottom: 0;
    color: #272626;
    max-width: 550px;
    padding: 20px;
    margin:20px;
    margin-left: 250px;

}

.display-4,.lead {
    color: white;
}

.jumbotron {
    background-color:transparent !important; 
}

.hr {
    background: white;
}
