
body, html {
    height: 100%;
}

body {
    background: url("../images/backgroundpsychic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-container .container {
    position: absolute;
    bottom: 0;
    background: rgb (0,0,0);
    background: rgba (0,0,0, 0.5);
    color: #272626;
    max-width: 500px;
    padding: 20px;
    margin:20px;
    margin-left: 250px;

}


